@use "../abstracts/variables";

%middle-circle {
  position: relative;

  &::after {
    background-color: variables.$primary-color;
    border-radius: 999px;
    content: "";
    height: 80%;
    position: absolute;
    top: 25%;
    width: 100vw;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.middle-circle-right {
  @extend %middle-circle;

  &::after {
    left: 20%;
  }
}

.middle-circle-left {
  @extend %middle-circle;

  &::after {
    right: 20%;
  }
}
