@use "../abstracts/variables";
@use "../abstracts/mixins" as *;

$border: 4px solid;
$gray: scale-color(
  $color: variables.$gray-blue,
  $alpha: -50%,
);

.tablist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include upto(md) {
    border-top: 1px solid $gray;
  }
}

.tablist-tab {
  background-color: transparent;
  border: 0;
  border-bottom: $border transparent;
  box-shadow: 0 1px 0 $gray;
  color: variables.$title-color;
  cursor: pointer;
  opacity: 0.7;
  padding: 2rem 3rem;
  width: 100%;

  @include from(md) {
    width: auto;
  }

  &:hover {
    color: variables.$secondary-color;
  }
}

.tablist-tab.active {
  border-bottom: $border variables.$secondary-color;
  color: variables.$title-color;
  opacity: 1;
}

.tablist-panel {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.tablist-panel.active {
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  visibility: visible;
}

// Features Tabs Panels

.feature-panel {
  align-items: center;
}

.feature-panel.active {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  padding: 5rem 0;
  padding-bottom: 0;

  @include from(md) {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;
  }

  @include from(lg) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

.feature-panel-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  justify-content: center;
  text-align: center;

  @include from(md) {
    padding: 0;
    text-align: left;
  }
}

.feature-panel-title {
  color: variables.$title-color;
  font-size: 2rem;
  font-weight: variables.$font-weight-medium;
}

.feature-panel-btn {
  @include upto(md) {
    display: none;
  }
}
