input {
	background: var(--lighter-grayish-cyan);
	border: 0;
	border-radius: var(--radius-normal);
	box-sizing: border-box;
	caret-color: var(--primary);
	color: var(--very-dark-cyan);
	font-size: var(--fs-input);
	font-weight: var(--fw-bolder);
	max-width: 100%;
	outline: 0;
	padding-right: 0.5rem;
	text-align: right;
}

// Remove input number buttons

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

input[type='number'] {
	appearance: textfield;
}

input:focus-visible {
	outline: 2px solid var(--primary);
}

input::placeholder {
	color: var(--dark-grayish-cyan);
}

.input-full {
	width: 100%;
}

.input-container--icon {
	position: relative;
}

.input-container--icon > img {
	left: 15px;
	position: absolute;
	top: 12px;

	@include upto(s) {
		height: 50%;
		top: 25%;
	}
}

.input--error,
.input--error:focus-visible {
	outline: 2px solid var(--red);
}
