@use "../abstracts/variables";
@use "../abstracts/mixins" as *;

.footer {
  align-items: center;
  background-color: variables.$dark-blue;
  color: variables.$white;
  flex-direction: column;
  gap: 2rem;
  height: auto;
  padding: 2rem variables.$padding-large;

  @include from(md) {
    flex-direction: row;
  }
}

.footer-brand {
  display: flex;
}

.footer-logo {
  fill: variables.$white;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @include from(md) {
    flex-direction: row;
  }
}

.footer-link {
  color: variables.$white;
  font-size: variables.$font-size-normal;
}

.footer-social {
  display: flex;
  gap: 2rem;
  list-style: none;

  @include from(md) {
    margin-left: auto;
  }
}

.footer-social > svg {
  transition: color variables.$transition-duration;
}

.footer-social > svg:hover {
  color: variables.$secondary-color;
}

.footer-social-link {
  color: variables.$white;
}
