// Colors

$red: hsl(0, 94%, 66%);
$white: hsl(0, 0%, 100%);

$text-color: hsl(229, 8%, 60%);
$title-color: hsl(229, 31%, 21%);

$primary-color: hsl(231, 69%, 60%);
$secondary-color: $red;

// Fonts

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-family-sans: "Rubik", sans-serif;
$font-size-body: 18px;
