:root {
  /* Fonts */
  --ff-sans: "Overpass", sans-serif;

  --fw-normal: 400;
  --fw-bold: 700;

  --fs-body: 15px;

  /* Colors */

  /* Primary Colors */
  --c-orange: hsl(25, 97%, 53%);

  /* Neutral Colors */
  --c-white: hsl(0, 0%, 100%);
  --c-light-grey: hsl(217, 12%, 63%);
  --c-medium-grey: hsl(216, 12%, 54%);
  --c-dark-blue: hsl(213, 19%, 18%);
  --c-v-dark-blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

body {
  font-family: var(--ff-sans);
  font-weight: var(--fw-normal);
  font-size: var(--fs-body);
  color: var(--c-light-grey);
  background-color: var(--c-v-dark-blue);
  overflow-x: hidden;
  margin: 0;
}

p {
  line-height: 1.5;
}

a {
  color: var(--c-orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  color: var(--c-white);
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 999px;
  color: var(--c-white);
  background-color: var(--c-orange);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--c-white);
  color: var(--c-orange);
  cursor: pointer;
}

.btn:disabled {
  background-color: var(--c-light-grey);
  color: var(--c-v-dark-blue);
  cursor: not-allowed;
}

.rating {
  position: relative;
  height: 410px;
  width: 90%;
  max-width: 410px;
  max-height: 410px;
  overflow: hidden;
  background: linear-gradient(160deg, #1f2630 50%, var(--c-v-dark-blue) 100%);
  border-radius: 30px;
}

.rating-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  width: 100%;
  height: 100%;
  right: 0;
  transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
}

.rating-item:nth-child(2) {
  left: 100%;
}

.rating-item:nth-child(1).active {
  right: 100%;
}

.rating-item:nth-child(2).active {
  left: 0;
}

.rating-thank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.rating-thank__selected {
  padding: 0.5rem 0.75rem;
  border-radius: 999px;
  background-color: var(--c-dark-blue);
  color: var(--c-orange);
  line-height: normal;
}

.rating-thank__article {
  margin-top: 1rem;
}

.rating-star__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--c-dark-blue);
  padding: 0.5rem;
}

.rating-btn__container {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.rating-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-dark-blue);
  height: 40px;
  width: 40px;
  color: var(--c-light-grey);
  border: none;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  font-weight: var(--fw-bold);
  font-size: 1rem;
}

.rating-btn.active {
  color: var(--c-white);
  background-color: var(--c-light-grey);
}

.rating-btn:hover {
  color: var(--c-white);
  background-color: var(--c-orange);
  cursor: pointer;
}

.attribution {
  padding: 1rem;
  text-align: center;
}

/* Media Queries */
@media (min-width: 768px) {
  .rating {
    width: 410px;
  }

  .rating-item {
    padding: 2rem;
  }

  .rating-btn {
    width: 50px;
    height: 50px;
  }
}
