@use "../abstracts/variables";
@use "../abstracts/mixins" as *;

.hero {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh - variables.$height-header);
  padding: 2rem;

  @include from(md) {
    flex-wrap: nowrap;
    padding: 1rem variables.$padding-large;
    padding-right: 0;
  }
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  text-align: center;

  @include from(md) {
    gap: 1rem;
    text-align: left;
  }
}

.hero-info-title {
  color: variables.$title-color;
  font-size: 3rem;
  font-weight: 500;
}

.hero-info-btn-container {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: center;

  @include from(sm) {
    justify-content: flex-start;
  }
}

.hero-img {
  @include from(md) {
    padding-right: 2rem;
  }
}

.hero-img-container {
  order: -1;
  @include from(md) {
    order: 0;
    width: 100%;
  }
}
