@use "../abstracts/variables";
// Flex
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

// Gaps
.gap-4 {
  gap: 1rem;
}

// Background
.bg-primary {
  background-color: variables.$primary-color;
}

// Text
.text-white {
  color: variables.$white !important;
}

.text-medium {
  font-weight: variables.$font-weight-medium;
}

// Text Transforms
.uppercase {
  text-transform: uppercase;
}

// Letter Spacing
.tracking-wide {
  letter-spacing: 1px;
}

// Margins
.ml-auto {
  margin-left: auto;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-28 {
  margin-top: 7rem;
}

.mb-8 {
  margin-bottom: 2rem;
}
